#btnMoveMe{
    position:absolute;    
    border-radius: 10%;
    aspect-ratio: 1;
}

body {
    overflow: hidden;
    background-image: url(./Images/bliss-update.jpg);
}

#wornSword {
    position: absolute;
    width: 72px;
    aspect-ratio: 1;
}

#bandit {
    position: absolute;
    aspect-ratio: 1;
}